# Node dependencies
node_modules/
Frontend/node_modules/
Backend/server/node_modules/

# Python cache & venv
__pycache__/
*.pyc
Backend/ai_service/__pycache__/
Backend/ai_service/*.pyc
.venv/
venv/

# Builds & dist
Frontend/dist/
dist/

# Local database data
Backend/server/data/db.json

# Environment & Logs
.env
*.log
